h1{
    text-align: center;
}

.calc-container{
    box-sizing: border-box;
    width: 550px;
    height: 450px;
    padding: 16px 32px;
    margin: 8px auto;
    border: none;
    border-radius: 16px;
    background-color: rgb(197, 197, 197);
    box-shadow: 4px 4px rgb(141, 136, 136);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 12px;
}

.calc-screen{
    border: black 2px solid;
    border-radius: 12px;
    height: 50px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.calc-screen p{
    margin: 4px;
    text-align: right;
    color: rgb(255, 255, 255);
    font-size: 32px;
}

.calc-buttons{
    display: flex;
    flex-direction: row;
    gap: 6px;
    justify-content: space-between;
}

.calc-buttons > *{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
}

button{
    width: 80px;
    height: 80px;
    border-radius: 6px;
    font-size: 20px;
}